body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f2f5;
  color: #333;
  text-align: center;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #fce9f1, #d0f0f5, #f6f1f1, #f9e6e6);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}


.title {
  margin-top: 30px;
  font-size: 2.5rem;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

.card {
  position: relative;
  height: 220px;
  border-radius: 15px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  width: 100%;
  padding: 15px;
  font-size: 1.2em;
}

.quote {
  font-style: italic;
  color: #000000;
  font-size: 30px;
  margin-bottom: 40px;
  letter-spacing: 0.5px;
}

